spring-petclinic-microservices
spring-petclinic

# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info
*.tfvars
!*.tfvars.example