# COMMON APPLICATION PROPERTIES

server:
  port: 0
  shutdown: graceful

spring:
  sql:
    init:
      schema-locations: classpath*:db/hsqldb/schema.sql
      data-locations: classpath*:db/hsqldb/data.sql
  sleuth:
    sampler:
      probability: 1.0
  cloud:
    config:
      allow-override: true
      override-none: true
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: none

eureka:
  client:
    serviceUrl:
      defaultZone: http://discovery-server:8761/eureka/

management.security.enabled: false
management.endpoints.web.exposure.include: "*"

spring.cloud.refresh.refreshable: false

logging.level.org.springframework: INFO

management:
  endpoint:
    metrics:
      enabled: true
    prometheus:
      enabled: true
  endpoints:
    web:
      exposure:
        include: '*'
  metrics:
    export:
      prometheus:
        enabled: true
  tracing:
    sampling:
      probability: 1
  zipkin:
    tracing:
      endpoint: http://tracing-server:9411/api/v2/spans

---
spring:
  config:
    activate:
      on-profile: mysql
  datasource:
    url: jdbc:mysql://mysql:3306/petclinic?allowPublicKeyRetrieval=true&useSSL=false
    username: petclinic
    password: petclinic
  sql:
    init:
      schema-locations: classpath*:db/mysql/schema.sql
      data-locations: classpath*:db/mysql/data.sql
      mode: ALWAYS
